/* 
    classes: main, outer-nav, root-container, container-1, container-2, container-3
    id: 
*/

.outer-nav {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #011c3b00;
    position: fixed;
    flex-grow: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.outer-nav-logged-in {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #011c3b00;
    position: fixed;
    flex-grow: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.page-container {
    display: flex;
    text-align: center;
    text-justify: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background: #011c3b;
    background-image: url('./jpg/background.jpg');
    background-size: 100vw;
}


.home-container {
    display: flex;
    width: 100%;
    height: 3200px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #011c3b;
}

.main {
    display: flex;
    width: 990px;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    flex-direction: column;
    border: 0px;
}

.container-1 {
    width: 100%;
    height: 450px;
    background-size: 100%;
}
.container-2 {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 100%
    
}
.container-3 {
    width: 1239px;
    height: 450px;
    /* background-image: image("pexels-stephen-niemeier-63703.jpg"); */
}

/* IDs--------------------------------------------------------------v*/
#main-logout {
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: #011c3b;
    background-image: url('./jpg/background.jpg');
    background-size: 100vw;
}

#textwrap {
    display: flex;
    text-justify: center;
    text-align: center;
    width: 111px;
    height: 45px;
    padding: 4px 7px;
    background-color: black;
    color: white;
}

#rightbuffer {
    height: 870px;
    width: 30%;
}

#auth-buttons {
    /* text */
    width: 300px;
    margin: auto;

}

#to-signup-button {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 174, 240);
    height: 40px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#to-signin-button, #demologin {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    
    border-radius: 5px;
    color:black;
    background-color: white;
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    
}

#logotext {
    margin-top: 50px;
    margin-bottom: -100px;
}

#home-text {
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 14px;
}

#navlink {

    text-decoration: none;
}
 