.login-form-outer {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.login-form-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 400px;
    margin: inherit;
    
}


.login-form {
    border: 0px;
    margin: auto; 
    padding: 30px;
    padding-top: 130px;
    background-color: white;
    font: inherit;
    font-weight: bolder;
    font-size: 24px;
    
}

#email-input {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#password-input {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signin-button {
    text-align: center;
    font-size: 18px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 174, 240);
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}