.main-profile {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #011c3b;
    flex-direction: row;
}

.profile-container {
    display: inherit;
    flex-direction: row;
    margin: 40px auto 0;
    max-width: 1200px;
    height: 100vh;
}

